.predict {
    top: 50%;
    left: 10%;
    background-color: white;
    max-width: 500px;
    padding: 20px;
    transform: translateY(-50%);
    border-radius: 20px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, .7);
}

.tomatoSlider {
    height: 100vh;
    overflow: hidden;
}

.img {
    width: 100%;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(52, 58, 64, .8);
}

.brand-logo {
    height: 40px;
}

.results {
    margin-top: 80px;;
}
