body {
    font-size: 62%;
    background-image: url('tomato.png');
    background-repeat: repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.input-container {
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
}

.input-submit {
    display: block;
    width: 50%;
    margin: 1rem auto;
}

h3 {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

.image {
    width: 100%;
}