{% extends 'base.html' %}
{% block title%}WHC - predict {% endblock %}
{% block content %}

<div class="tomatoSlider mt-4">
    {% for photo in tomatoes %}
    <div>
        <img src="{{ url_for('static', filename='tomatoslider/'+photo) }}" alt="{{photo}}" class="img img-fluid">
    </div>
    {% endfor %}
</div>
<script src="{{ url_for('static', filename='tomatoSlider.js') }}"></script>

<div class="row flex-column mt-4">
    <div class="col">
        <h2>WHC Tomato Yield Scan</h2>
        <p>The purpose of this tool, is to recognize 'healthy' and 'unhealthy' tomatoes. It uses Convolutional Neural Network (Deep Learning) algorithm to do the prediction. </p>
        <p>This model has an accuracy of 91% using Transfer Learning (<a href="https://neurohive.io/en/popular-networks/vgg16/" target="_blank">VGG16 block</a>).</p>
    </div>
</div>

<div class="row flex-column mt-4">
    <div class="col">
        <h3>Upload a folder</h3>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>Supports only JPG</label>
                <input type="file" id="image-selector" class="form-control-file py-3" name="image[]" webkitdirectory mozdirectory >
                <button id="predict-button" type="submit" class="btn btn-primary py-3">Upload and predict</button>
            </div>
        </form>
    </div>

    <div class="col">
        <div class="row">
            {% block item %}{% endblock %}
        </div>
    </div>
    
    <h3 id="greeting"></h3>
</div>
{% endblock %}