{% extends 'base.html' %}
{% block grid %}

<h2>Results</h2>
<div class="row flex-wrap">
{% for key, value in result.items() %}
    <div class="col-3 my-3">
        <img src="{{ url_for('static', filename='uploads/') }}{{ key }}" alt="{{ key }}" class="img img-thumbnail">
        {# check if tomato is unhealthy #}
        {% if value == 0.0 %}
        <div class="alert alert-danger">
            Unhealthy
        </div>
        {% else %}
        <div class="alert alert-success">
            Healthy
        </div>
        {% endif %}
    </div>
{% endfor %}
</div>
{% endblock %}