{% extends 'base.html' %}
{% block title%}WHC - predict {% endblock %}
{% block content %}

<h2>Upload a folder</h2>
<div class="row flex-column mt-4">
    <div class="col">
        <form action="/" method="POST" enctype="multipart/form-data"
            <div class="form-group">
                <label>Supports only JPG</label>
                <input type="file" id="image-selector" class="form-control-file py-3" name="image[]" webkitdirectory mozdirectory >
                <button id="predict-button" type="submit" class="btn btn-primary py-3">Upload and predict</button>
            </div>
        </form>
    </div>

    <div class="col">
        <div class="row">
            {% block item %}{% endblock %}
        </div>
    </div>
    
    <h3 id="greeting"></h3>
</div>
{% endblock %}